<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
      <div class="main-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-manage">
                  <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">assignment</i>
                  </div>
                  <div class="card-content">
                    <div class="button mt-5">
                      <div class="search">
                        <input type="text" [formControl]="search">
                        <button class="btn btn-info" (click)="searchOrder()">
                          <i class="material-icons">search</i>
                        </button>
                      </div>
                      <div class="toolbar">
                        <button class="btn btn-info" (click)="onAddOrderModal()">
                          <i class="material-icons">add_box</i>
                        </button>
                      </div>
                    </div>
                    <ul class="nav nav-pills mt-5" role="tablist">
                      <li class="nav-item" *ngFor="let pill of listTabs, let i = index" (click)=changeTab(pill.key)>
                        <a class="nav-link" [ngClass]="{'active': pill.key === initStatus }" data-toggle="pill"
                          href="#tab-{{i}}" role="tab">{{pill.text}}
                        </a>
                      </li>
                    </ul>
                    <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
                      <p class="loading">Loading ...</p>
                    </ngx-spinner>
                    <div class="tab-content">
                      <div class="tab-pane fade"
                        [ngClass]="{'active': pill.key === initStatus, 'show': pill.key === initStatus }" id="tab-{{i}}"
                        *ngFor="let pill of listTabs, let i = index">
                        <div class="row mt-2" [ngClass]="{'empty-order': listOrder?.length === 0}">
                          <div class="col-md-3 card-deck" *ngFor="let order of listOrder">
                            <div class="card">
                              <div class="card-header text-center font-weight-bolder">
                                {{order['_id']}}
                              </div>
                              <div class="card-body">
                                <div class="wrapper-info mb-2">
                                  <i class="material-icons">person</i>
                                  <span>{{order['ReceiverName']}}</span>
                                </div>
                                <div class="wrapper-info mb-2">
                                  <i class="material-icons">location_on</i>
                                  <span>{{order['ReceiverAddress']}}</span>
                                </div>
                                <div class="wrapper-info mb-2">
                                  <i class="material-icons">phone</i>
                                  <span>{{order['ReceiverPhone']}}</span>
                                </div>
                                <div class="wrapper-info mb-2">
                                  <i class="material-icons">local_grocery_store</i>
                                  <span>
                                    {{bindKindOrder(order.Kind)}}
                                  </span>
                                </div>
                                <div class="wrapper-info mb-2">
                                  <i class="material-icons">public</i>
                                  <span>{{order.Service === 'Chuẩn' ? 'Giao hàng thường' : 'Giao hàng nhanh'}}</span>
                                </div>
                                <div class="wrapper-info mb-2">
                                  <i class="material-icons">hourglass_full</i>
                                  <span style="font-weight: 700;">{{bindingTextStatus(order.OrderStatus.name)}}</span>
                                </div>
                                <div class="wrapper-info mb-2">
                                  <!-- <i class="material-icons">attach_money</i> -->
                                  <i class="material-icons">account_balance_wallet </i>
                                  <span>{{order['Cost']}} VNĐ</span>
                                </div>
                                <div class="wrapper-info">
                                  <i class="material-icons">access_time</i>
                                  <span>{{order['CreatedTime'] | amDateFormat: 'DD/MM/YYYY, h:mm a' }}</span>
                                </div>
                              </div>
                              <div class="card-footer">
                                <button class="btn btn-warning btn-link" (click)="onAddOrderModal(order)"
                                  matTooltip="Chỉnh sửa đơn hàng" *ngIf="order.OrderStatus.name === 'created'">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button class="btn btn-danger btn-link" (click)="delete(order.OrderId)"
                                  *ngIf="order.OrderStatus.name === 'created'" matTooltip="Xóa đơn hàng">
                                  <i class="material-icons">delete_forever</i>
                                </button>
                                <button class="btn btn-info btn-link" (click)="sendToAgency(order)"
                                  *ngIf="order.OrderStatus.name === 'created'" matTooltip="Gửi tới đơn vị vận chuyển">
                                  <i class="material-icons">send</i>
                                </button>
                                <button class="btn btn-info btn-link" (click)="cancelToAgency(order, pill.key)"
                                  *ngIf="order.OrderStatus.name === 'waiting' || order.OrderStatus.name === 'unavailable'"
                                  [disabled]="order.ShipperGetOrderId" matTooltip="Hủy đơn hàng">
                                  <i class="material-icons">cancel</i>
                                </button>
                                <button class="btn btn-info btn-info" (click)="openModalReject(order.TextReject)"
                                  *ngIf="order.OrderStatus.name === 'cancelled'" matTooltip="Thông tin từ chối">
                                  <i class="material-icons">error_outline</i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <p class="text-center" *ngIf="listOrder?.length === 0">Chưa có đơn hàng</p>
                        </div>
                        <ngb-pagination class="d-flex justify-content-end mt-5" [collectionSize]="totalCount" [(page)]="page"
                          [pageSize]="pageSize" [disabled]="totalCount === 0" (pageChange)="pageChange($event, pill.key)">
                        </ngb-pagination>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #addOrder>
              <h1 mat-dialog-title class="text-center">Tạo mới đơn hàng</h1>
              <div mat-dialog-content class="add-order">
                <form [formGroup]="addForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="info-user">
                        <span class="before">Người gửi</span>
                        <div class="input-info">
                          <mat-form-field>
                            <input matInput placeholder="Họ và tên" formControlName="SenderName">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Số điện thoại" formControlName="SenderPhone">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Địa chỉ" formControlName="SenderAddress">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="info-user">
                        <span class="before">Người nhận</span>
                        <div class="input-info">
                          <mat-form-field>
                            <input matInput placeholder="Họ và tên" formControlName="ReceiverName">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Số điện thoại" formControlName="ReceiverPhone">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Địa chỉ" formControlName="ReceiverAddress">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="info-user">
                        <span class="before">Gói hàng</span>
                        <div class="input-info">
                          <mat-form-field>
                            <mat-label>Loại hàng*</mat-label>
                            <mat-select formControlName="Kind">
                              <mat-option *ngFor="let item of listKindOfOrder" [value]="item.value">
                                {{item.text}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Khối lượng chính xác (ước tính)" type="number" formControlName="Weight"
                              [readOnly]="addForm.get('Kind').value === '0'">
                            <span matSuffix>Kg</span>
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Giá trị gói hàng" type="number" class="money" formControlName="Cost">
                            <!-- <span matPrefix>$&nbsp;</span> -->
                            <span matSuffix>VNĐ</span>
                          </mat-form-field>
                          <div class="mb-2 service">
                            <mat-label>Dịch vụ*</mat-label>
                            <mat-radio-group formControlName="Service">
                              <mat-radio-button value="Chuẩn">Giao hàng thường</mat-radio-button>
                              <mat-radio-button value="Nhanh">Giao hàng nhanh</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <mat-form-field>
                            <input matInput placeholder="Ghi chú" formControlName="Note">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    
                  </div> -->
                </form>
              </div>
              <div mat-dialog-actions>
                <button mat-button mat-raised-button class="btn btn-danger" (click)="closeDialog()">Hủy</button>
                <button mat-button mat-raised-button class="btn btn-primary save" align='end' (click)="saveNewOrder()"
                  [disabled]="!addForm.valid" *ngIf="!isUpdate">Lưu</button>
                <button mat-button mat-raised-button class="btn btn-primary save" align='end' *ngIf="isUpdate"
                  (click)="update()">Cập nhật</button>
              </div>
            </ng-template>
            <ng-template #reasonText>
              <div mat-dialog-content>
                <span>{{reason}}</span>
                <button class="btn btn-link btn-danger btn-just-icon " mat-dialog-close style="float: right;">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </ng-template>
          </div>
        </div>
  </div>
</div>
