<<<<<<< HEAD
$c-logo: #fff;
$c-nav: #fff;
$c-primary: #f7941f;
=======
$c-logo: #046767;
$c-nav: #1f9c9c;

>>>>>>> c63d5b9df2245b452d74f8a0e361cff4b61c4ee2
body {
    margin: 0;
    transition: all 1s ease-in-out;
    background-color: #fff;
}

li,
a,
ul,
figure {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background: $c-primary;
    z-index: 999;
}

.header__container {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: $c-primary;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;

    @media screen and (min-width: 768px) {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        position: static;
        background: $c-primary;
        transform: translateX(0%);
    }
}

.header__list {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.header__item {
    padding: 10px 20px;

    @media screen and (min-width: 768px) {
        padding: 10px;
    }

    a {
        margin: 0 10px;
        position: relative;
        font-size: 14px;
        transition: all 1s ease-in-out;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;

        @media screen and (min-width: 768px) {
            color: $c-nav;
            font-size: 15px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1440px) {
            font-size: 18px;
        }

        &:before {
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -1px;
            left: 0;
            background: $c-nav;
            transition: all 1s ease-in-out;
        }

        &:hover {
            &:before {
                content: '';
            }
        }
    }
}

.header__logo {
    a {
        color: $c-logo;
        font-weight: 600;
        font-size: 30px;

        @media screen and (min-width: 1024px) {
            font-size: 34px;
        }

        @media screen and (min-width: 1440px) {
            font-size: 38px;
        }
    }
}

.header__icon {
    background: #fff;
    border: 1px solid #fff;

    &:focus {
        outline: none;
    }

    i {
        color: $c-logo;
        font-size: 26px;

        &.fa-close {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

body.header__icon--close {
    overflow: hidden;

    @media screen and (min-width: 768px) {
        overflow: auto;
    }

    i {
        transition: all 1s ease-in-out;

        &.fa-close {
            display: block;
        }

        &.fa-bars {
            display: none;
        }
    }

    .header__nav {
        transition: all 1s ease-in-out;
        transform: translateX(0%);
    }
}

//hero
.main {
    padding-top: 70px;

    .main--bg {
        padding: 30px 0;
<<<<<<< HEAD
        margin-bottom: 40px;
        // background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpcRkYYpsMCpoolNTLwMg9bMG5U3Bn7uMfHY9wRbg6RsiJmz8Clw");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
=======
        background-image: url('../../assets/img/motobike.gif');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        // @media screen and (max-width: 768px) {
        //     background-size: contain;
        // }
>>>>>>> c63d5b9df2245b452d74f8a0e361cff4b61c4ee2
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.block-item {
    // margin-bottom: 20px;
    background: #fff;
    // @media screen and (min-width: 768px) {
    //     margin-bottom: 40px;
    // }
    // @media screen and (min-width: 1280px) {
    //     margin-bottom: 60px;
    // }
    // @media screen and (min-width: 1440px) {
    //     margin-bottom: 80px;
    // }
}

.hero__container {
    padding: 40px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: $c-primary;
    @media screen and (min-width: 768px) {  
        display: flex;
    }
    img {
        max-width: 100vw;
        @media screen and (min-width: 768px) {
            max-width: 32vw;
        }
    }
}

.hero__inner {
    max-width: 620px;
    color: #fff;
    p {
        font-size: 18px;
        line-height: 1.42;
        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
    }
}

.hero__message {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    @media screen and (min-width: 768px) {
        font-size: 36px;
    }
}

.global-figure {
    width: 100%;
    background-position: center;
    // background-size: cover;
    background-repeat: no-repeat;

    &:before {
        display: block;
        content: '';
        padding-top: 50%;
    }
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $c-logo;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;

    .footer__content {
        color: $c-primary;
        font-size: 20px;
    }
}

.block-search {
    &__container {
        padding: 0 10px;
        text-align: center;
        .search-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            i {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                color: $c-primary;
                font-size: 28px;
            }
        }
        input {
            width: 100%;
            height: 50px;
            padding-right: 50px;
            position: relative;
            text-align: center;
            border-radius: 30px;
            box-shadow: 0 3px 20px -6px rgba(0, 0, 0, 0.2);
            border: 1px solid #f1f1f1;
        }
    }
}

.card-two-up {
    align-items: center;
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 768px) {
        display: flex;
        text-align: left;
    }
    &.card-convert {
        flex-direction: row-reverse;
    }
    .card__inner {
        margin: 10px 40px;
        @media screen and (min-width: 768px) {
            max-width: 500px;
        }
        h3 {
            color: $c-primary;
            font-weight: 700;
        }
    }
    img {
        max-width: 400px;
        margin: 10px 40px;
    }
}

.grid-four {
    h2 {
        margin-bottom: 30px;
        text-align: center;
        color: $c-primary;
    }
}