<header>
    <div class="header__container">
        <div class="header__logo">
            <a href="index.html">
                Go Ship
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a routerLink="/trang-chu">Trang chủ</a></li>
                <li class="header__item"><a routerLink="/bieu-phi">Xem biểu phí</a></li>
                <li class="header__item"><a routerLink="/home" target="_blank">Tra cứu đơn hàng</a> </li>
                <li class="header__item"><a routerLink="/home" target="_blank">Đăng nhập/Đăng ký</a></li>
            </ul>
        </nav>
        <button class="header__icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <i class="fa fa-close" aria-hidden="true"></i>
        </button>
    </div>
</header>
<main class="main">
    <section class="block-item hero">
        <div class="hero__container">
            <figure class="hero__figure global-figure main--bg">
            </figure>
            <div class="hero__inner">
                <div class="hero__message">Nhanh, Tiết kiệm, Chuyên nghiệp</div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="footer__content">Cảm ơn bạn đã ủng hộ Go Ship</div>
</footer>