<header>
    <div class="header__container">
        <div class="header__logo">
            <a href="index.html">
                Go Ship
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a routerLink="/trang-chu">Trang chủ</a></li>
                <li class="header__item">
                    <a class="nav-link"
                        href="https://drive.google.com/file/d/1_pjP0CGkIBsH0cM4UDcZCmyyUzv5pSiS/view?usp=sharing"
                        target="blank">Xem biểu phí
                    </a>
                </li>
                <li class="header__item"><a routerLink="/dang-nhap">Đăng nhập</a></li>
                <li class="header__item"><a routerLink="/dang-ky">Đăng ký</a></li>
            </ul>
        </nav>
        <button class="header__icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <i class="fa fa-close" aria-hidden="true"></i>
        </button>
    </div>
</header>
<main class="main">
    <section class="block-item hero">
        <div class="hero__container">
            <div class="hero__inner">
                <div class="hero__message">Go Ship - giao hàng nhanh tiết kiệm</div>
                <p>
                    Go Ship là kênh vận chuyển nhanh, giá tốt, chất lượng chuyên nghiệp. Giúp bạn tối ưu rủi ro và chi
                    phí bằng cách lựa chọn dịch vụ giao hàng phù hợp
                    nhất. Với Go Ship sự hài lòng của khách hàng là phần thưởng tốt nhất cho mỗi thành viên công ty.
                </p>
            </div>
            <img src="../../assets/img/driver.png" />
        </div>
    </section>
    <section class="block-item block-search">
        <h3 style="text-align: center;">Tra cứu đơn hàng</h3>
        <div class="block-search__container">
            <form class="search-form">
                <input type="text" [formControl]="keySearch" />
                <i class="fa fa-search" (click)="showInforOrder()"></i>
            </form>
        </div>
        <!-- <div class="title_search"></div> -->
    </section>
    <section class="block-item card-two-up ">
        <div class="card__inner">
            <h3>Giá cước rẻ nhất</h3>
            <p>Thông thường, để có giá cước giao hàng rẻ bạn phải có <strong>hàng trăm, hàng ngàn đơn hàng mỗi
                    ngày</strong>. Nhưng với GO SHIP, bạn
                luôn được chính sách <strong>giá rẻ mà không cần cam kết.</strong></p>
        </div>
        <img src="../../assets/img/package.png">
    </section>
    <section class="block-item card-two-up card-convert">
        <div class="card__inner">
            <h3>Rủi ro thấp nhất</h3>
            <p>Mỗi Hãng Vận Chuyển đều có ưu - nhược điểm riêng về giá cước, chất lượng dịch vụ. Tại GO SHIP bạn có thể
                lựa chọn ít rủi
                ro nhất một cách trực quan nhất cho từng khu vực.</p>
        </div>
        <img src="../../assets/img/package_blue.png">
    </section>
    <section class="block-item card-two-up">
        <div class="card__inner">
            <h3>Không cần cam kết</h3>
            <p>
                <strong>GO SHIP Mong muốn là giải pháp chất lượng & ít rào cản nhất:</strong><br />
                Giá cước luôn rẻ, không cần cam kết số lượng.<br />
                Không cần ký quỹ hoặc thanh toán trước. <br />
            </p>
        </div>
        <img src="../../assets/img/support.png">
    </section>
    <section class="block-item grid-four">
        <h2>Các Đối Tác Liên Kết</h2>
        <div class="card-two-up">
            <img src="../../assets/img/1558169949_ghn.png">
            <img src="../../assets/img/1558169949_ghtk.png">
            <img src="../../assets/img/1558169949_vtp.png">
            <img src="../../assets/img/1562311029_ahamove.png">
        </div>
    </section>
    <ng-template #inforOrder>
        <h2>Thông tin đơn hàng</h2>
        <div mat-dialog-content class="container-order">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="info-user">
                                <span class="before">Người gửi</span>
                                <div class="input-info">
                                    <p>Họ và tên: {{order.SenderName}}</p>
                                    <p>SĐT: {{order.SenderPhone}}</p>
                                    <p>Địa chỉ: {{order.SenderAddress}}</p>
                                </div>
                            </div>
                            <div class="info-user">
                                <span class="before">Người nhận</span>
                                <div class="input-info">
                                    <p>Họ và tên: {{order.ReceiverName}}</p>
                                    <p>SĐT: {{order.ReceiverPhone}}</p>
                                    <p>Địa chỉ: {{order.ReceiverAddress}}</p>
                                </div>
                            </div>
                            <div class="info-user">
                                <span class="before">Dơn hàng</span>
                                <div class="input-info" style="border-bottom: none;">
                                    <p>Trạng thái: {{bindingTextStatus(order.OrderStatus.name)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-raised-button class="btn btn-danger" (click)="closeDialog()" style="float: right;">Đóng</button>
        </div>
    </ng-template>
</main>
<footer>
    <div class="footer__content">Cảm ơn bạn đã ủng hộ Go Ship</div>
</footer>